:root{
    --ash: rgb(235,240,250);
    --black:rgb(50,50,60);
    --l-black:rgb(70,70,90);
    --blue:rgb(35, 91, 204);
}

@font-face {
    font-family: "gsansflex";
    src: url("/res/gsansflex.ttf") format("truetype");
    font-display: swap;
}

body{
    font-family: "gsansflex";
    color:var(--black);
    padding-inline:0.5rem;
}

input, #search-box{
    width:20rem;
    height:2.5rem;
    margin-bottom:0.5rem;
    border-radius:0.4rem;
    border:1px solid silver;
    font-size: 12pt;
    padding:0 0.5rem 0 0.5rem;
}
button, input:focus{outline:none;}
div{display:grid;}
[hidden]{display:none !important;}

#auth-content{
    color:var(--black);
    margin-top:2rem;
    justify-self: center;
    grid-template-rows: 2.5rem 1fr;
    justify-content: center;
    user-select: none;
}

#auth-level{
    grid-auto-flow: column;
    align-items: center;
    justify-content:center;
    font-size:15pt;
    font-weight:700;
    column-gap: 0.5rem;
}

#auth-icon{
    background: url("res/iconx.svg");
    background-size:100%;
    width:2.5rem;
    height:2.5rem;
}

#auth-form{
    margin-top:1rem;
    justify-content: center;
    width:20rem;
}
.label{
    font-weight:bold;
    margin-bottom:0.2rem;
}
#submit{
    border:none;
    border-radius:0.4rem;
    color:white;
    background:var(--black);
    height:2.5rem;
    font-size:13pt;
    user-select: none;
}
#submit:hover{
    background:var(--l-black);
}

#auth-alt{
    grid-auto-flow: column;
    justify-content: center;
}
#auth-switch{
    color:var(--blue);
    cursor: pointer;
}

#inbox-label{
    grid-auto-flow: column;
    align-items:center;
    font-size:13pt;
    grid-template-columns: 2.5rem 1fr 1fr;
    column-gap: 0.5rem;
    width:20rem;
    font-weight:600;
    padding-bottom:0.5rem;
}

#inbox-icon{
    background-image: url("res/iconx.svg");
    background-size:100%;
    width:2.5rem;
    height:2.5rem;
}
#inbox-option{
    width:2rem;
    height:2rem;
    background-image:url("res/settings.png");
    background-size:80%;
    background-repeat:no-repeat;
    background-position:center;
    justify-self: end;
}
#search{
    background-image:url("res/search.png");
    background-size:1.2rem;
    background-repeat:no-repeat;
    padding:0;
    padding-left:2rem;
    background-position: center left 0.4rem;
    border:none;
    margin:0;
    width:auto;
}
#search-clear{
    width:2rem;
    height:2rem;
    background-image:url("res/close.png");
    background-size:80%;
    background-repeat:no-repeat;
    background-position:center;
}
#search-box{
    padding:0;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: 1fr 2rem;
}

@media (max-width:45rem){
    #inbox-label{
        width:100%;
    }
    #search-box{
        justify-self: center;
        width:min(25rem, 100%);
    }
}